.row-posters {
  display: flex;
  /* margin-bottom: 2px; */
  padding: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row_title {
  color: whitesmoke;
}
.row-posters::-webkit-scrollbar {
  display: none;
}

.poster {
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  margin-right: 10px;
  /* transition-delay: 450ms; */
  transition: transform 350ms;
}

.poster:hover {
  transform: scale(1.1);
}

.poster_large {
  max-height: 250px;
}
